{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CapitalizeU</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/alphabet.png" rel="icon"> 

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="static/css/style1.css" rel="stylesheet">


</head>

<body>

  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="/"><span>CapitalizeU</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>

    
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Investors</a></li>
              <li><a href="#">Enterprenure</a></li>
              <li><a href="video.html">Video Connect</a></li>
              <li><a href="#">Resources</a></li>
              <li><a href="#">Discussion forum</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Sign Up</a></li>
          <li><a class="nav-link scrollto" href="#contact">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Empowering Dreams, Fueling <span>Success</span></h1>
            
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="assets/img/12704375_5052871.svg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section>

  <main id="main">


    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <a href="https://youtu.be/EXSwHz2GRV8?si=WRZgqcTIkm8EbOBd" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>Inspirring entrepreneurs by democratizing access to capital, knowledge, and mentorship</h3>
            <p>Our platform connects entrepreneurs with a diverse network of investors, providing a gateway to secure the financial resources necessary for business growth.</p>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Access to Capital</a></h4>
              <p class="description">Beyond funding, we offer entrepreneurs access to seasoned mentors and advisors who provide valuable guidance and strategic insights for business success.</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Mentorship and Guidance
              </a></h4>
              <p class="description">Beyond funding, we offer entrepreneurs access to seasoned mentors and advisors who provide valuable guidance and strategic insights for business success.
              </p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Connecting Investors and Entrepreneurs</a></h4>
              <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
            </div>

          </div>
        </div>

      </div>
    </section>

    <section id="details" class="details">
      <div class="container">

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="static/img/details-1.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Unified Financial Management Dashboard</h3>
            <p class="fst-italic">
              
            </p>
            <ul>
              <li><i class="bi bi-check"></i> startup Financial Management: Entrepreneurs can efficiently manage their startup's finances, including tracking expenses, revenue, and funding rounds.</li>
              <li><i class="bi bi-check"></i> Investment Management: Investors have a central hub for tracking their investments, enabling them to monitor performance and diversification.</li>
              <li><i class="bi bi-check"></i> Portfolio Tracking: The dashboard keeps investors up to date on the latest developments of the startups in their portfolio.</li>
             
            </ul>
            <p>
              The Unified Financial Management Dashboard streamlines financial management for entrepreneurs and provides investors with the tools they need to make informed investment decisions, creating a more efficient and transparent ecosystem for startups and investors.</p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="static/img/details-2.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Fundraising Management and Review</h3>
            <p class="fst-italic">
             
            </p>
            <ul>
              <li><i class="bi bi-check"></i>Simplified Fundraising: Entrepreneurs can easily define their funding requirements, upload financial data, and showcase their business plans within the platform.</li>
              <li><i class="bi bi-check"></i>Investment Amount Determination: Investors can confidently determine the amount they wish to invest in a particular startup after thoroughly evaluating the proposal.</li>
              <li><i class="bi bi-check"></i>Transparency: Entrepreneurs benefit from transparency as investors can review their proposals and financial information, promoting trust and collaboration.</li>
             
            </ul>
            <p>
              This feature simplifies the fundraising process, fostering efficient and transparent interactions between entrepreneurs and investors. It allows entrepreneurs to present their investment opportunities effectively, while investors can make well-informed decision </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="static/img/details-3.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>Mentorship and Resources Hub</h3>
            <p></p>
            <ul>
              <li><i class="bi bi-check"></i> Investor Mentorship: Entrepreneurs gain access to experienced investors who provide mentorship, guidance, and strategic advice.</li>
              <li><i class="bi bi-check"></i> Networking Opportunities: Entrepreneurs can network with seasoned professionals in their industry, opening doors to collaborations and partnerships.</li>
              <li><i class="bi bi-check"></i> Networking Opportunities: Entrepreneurs can network with seasoned professionals in their industry, opening doors to collaborations and partnerships.</li>
            </ul>
            
            <p>
              The "Mentorship and Resources Hub" creates a dynamic ecosystem where entrepreneurs receive guidance and resources for business development, while investors actively engage in the growth and success of the startups they support. 
            </p>
          </div>
        </div>

       

      </div>


   
  
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>CapitalizeU</h3>
              
              <p>
                YCCE,Nagpur<br><br>
                <strong>Phone:</strong>8830568867<br>
                <strong>Email:</strong>sajilmohurale03@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">-------</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">-------</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">-------</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">-------</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">-------</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Discussion Forum</h4>
           
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; <strong><span>CapitalizeU</span></strong>.
      </div>
      <div class="credits">
      
      </div>
    </div>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  


  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/js/main.js"></script>

  <script>
    "use strict";
    
    !function() {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
        t.factory = function(e) {
          return function() {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
          var i = document.getElementsByTagName("script")[0];
          i.parentNode.insertBefore(o, i);
        };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('fbbutw7cgr5v');
    </script>
</body>

</html>